{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'general/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'general/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'general/js/bootstrap.bundle.min.js' %}"></script>
    {% block css %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark primary_3">
    <div class="container ">
        <div class="navbar-collapse collapse" id="navbarColor01" style="">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item hvr-underline-from-center nav-padding text-center">

                </li>
            </ul>
            <div class="nav-item dropdown user_menu text-right">
            </div>
        </div>
    </div>
</nav>
<div id="contenido">
<div class="content-wrapper mt-2 pt-2 content-cbt" id="wrapper">
      <div class="content mt-2" id="content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card card-success card-outline" id="card-content">
                <div class="card-body box-profile" id="content">
                    {% block content %}{% endblock %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
<footer class="fixed-bottom">{% block footer %}{% endblock %}</footer>
{% block scripts %}{% endblock %}
</body>
</html>
