{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Seguimiento de terrenos{% endblock %}
{% block content %}
    <div class="bd-callout bd-callout-info">
        <p>Esta página esta diseñada para el seguimiento de terrenos por usuario</p>
    </div>
    <a class="btn btn-primary" href="/terreno/registro">Crear terreno</a>
    <a class="btn btn-info" href="/usuario/perfil">Perfil de usuario</a>
    <a class="btn btn-warning" href="/logout">Cerrar Sesión</a>
{% endblock %}