
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SIFOS</title>
    <link rel="stylesheet" href="{% static 'general/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/project-style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'general/img/iconoSIFOS.ico' %}" />
    <script type="text/javascript" src="{% static 'general/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'general/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'general/js/sweetalert.js' %}"></script>
    <script type="text/javascript" src="http://www.youtube.com/player_api"></script>
</head>
<script>
        function playVideo() {
            var videoURL = $('#videoSifos').prop('src');
            videoURL += "&autoplay=1";
            $('#videoSifos').prop('src',videoURL);
        }
        function stopVideo() {
            var videoURL = $('#videoSifos').prop('src');
            videoURL = videoURL.replace("&autoplay=1", "");
            $('#videoSifos').prop('src','');
            $('#videoSifos').prop('src',videoURL);
         }
</script>
<body class="text-center background-style">
<div class="container">
    <div class="row justify-content-center height-content">
        <div class="col-xs-8 col-sm-9 col-md-7 col-lg-5 bg-gradient align-self-center">
            <div>
                <img class="img-responsive mt-5" src="{%  static 'general/img/logoSIFOS.png' %}" alt="" width="385" height="318" />
            </div>
            <div class="row">
                <div class="col-sm-9 col-md-10 m-auto">
                    <div class="row justify-content-center"> </div>
                    <div>
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        <!-- Formulario de ingreso al sistema -->
                         <form method="post" role="form">
                            <div id="error-all"></div>
                            <div class="dropdown-content animated fadeIn" id="login-elements">
                                <div class="input-group mb-1">
                                    <!-- dato Usuario -->
                                    <input required type="text" name="username" id="id_username" class="form-control" placeholder="Usuario" aria-label="Username"  autofocus="" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3">
                                    <!-- dato Contraseña -->
                                    <input required type="password" name="password" id="id_password" class="form-control " placeholder="Contraseña" aria-label="Username"  aria-describedby="basic-addon1"><div id="error-password"></div>
                                </div>
                            </div>
                            {% csrf_token %}
                            <!-- boton inicio de sesión -->
                            <button class="btn btn-lg btn-danger  btn-block  mb-4" type="submit">Iniciar sesión</button>
                        </form>

                        <div class="row pt-3 background-footer">
                            <div class="width-pass-section">
                                <p class="mb-3 text-black float-left ml-4">¿Olvidaste tu contraseña?</p>
                                <!-- boton ventana popup recordar contraseña -->
                                <p class="float-right" data-toggle="modal" data-target="#passRemModal" style="margin-right: 5%;"><a href="#" target="_self">Recordar contraseña</a></p>
                            </div>
                        </div>

                        <!-- ventana popup recordar contraseña -->
                        <div class="modal fade" id="passRemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Olvidaste tu contraseña?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <p>Ingresa tu correo electrónico para enviar tu contraseña:</p>
                                  <input id="id_recordarCorreo" placeholder="ejemplo@correoelectrónico.com" required="" autofocus class="text-center form-control">
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <!-- boton envío a correo electrónico de contraseña -->
                                <button id="sendBtn" type="button" onclick="sendMail()" class="btn btn-primary btn-danger">Enviar</button>
                              </div>
                            </div>
                          </div>
                        </div>

                    <!-- ventana popup video ¿Qué somos? -->
                        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" onclick="stopVideo()">
                          <div class="modal-dialog" role="document" style="max-width: 600px;">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">¿Qué somos?</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="stopVideo()">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <div class="videoWrapper">
                                    <iframe id="videoSifos" controls="0" width="560" height="315" src="https://www.youtube-nocookie.com/embed/U2iU6nQRKAg?rel=0&showinfo=1&hd=1" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                  </div>
                              </div>
                              <div class="modal-footer">
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
function sendMail(){
       $.ajax({
        url: 'usuario/validate_email',
        data: {
          'email': $("#id_recordarCorreo").val()
        },
        dataType: 'json',
        success: function (data) {

          if (data.existe == 0) {
            swal({
              type: 'error',
              title: 'Error...',
              text: 'No existe un usuario con el correo electrónico ingresado.',
              footer: ''
            })
          }
          else{
             swal({
              type: 'success',
              title: 'Genial...',
              text: 'Se ha enviado su contraseña al correo electrónico ingresado.',
              footer: ''
            })
                $.ajax({
                url: 'usuario/send_email',
                data: {
                  'email': $("#id_recordarCorreo").val()
                },
                dataType: 'json',
                success: function (data) {
                if(data.error == "no"){
                        swal({
                          type: 'success',
                          title: 'Genial...',
                          text: data.message,
                          footer: ''
                        })
                    }
                    else{
                        swal({
                          type: 'error',
                          title: 'Error...',
                          text: data.message,
                          footer: ''
                        })
                    }
                }

                });
          }
        }
      });
 };
</script>
<footer class="fixed-bottom mt-1" style="height: 25px">
    <div class="row justify-content-start ">
        <div class="col background-footer">
            <p>
                <a class="mr-3 float-right" style="color: #000000;"><small>Url imagen de fondo: https://c.pxhere.com/photos/cb/a2/cornfield_corn_field_arable_young_plants_frisch_agriculture_crops-630468.jpg!d</small></a>
                <a class="mr-3 ml-3 float-left" style="color: #000000" href="#">Contacto</a>
                <a class="mr-3 float-left" style="color: #000000" href="#" data-toggle="modal" data-target="#videoModal" onclick="playVideo()">¿Qué somos?</a>
            </p>
        </div>
    </div>
</footer>
</body>
</html>



